@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

:root {
  --primary-color: #19947b;
  --secondary-color: #fc8327;
  --accent1-color: #1f2b33;
  --accent2-color: #7ae6b7;
  --neutral-color: #d1ffeb;

  --heading-font: "Capriola", sans-serif;
  --paragraph-font: "Inter", sans-serif;
}

.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.uk-navbar-nav {
  justify-content: center;
  font-family: "Catamaran", sans-serif;
  gap: 15px;
  margin-bottom: 35px;
  display: flex;
}
.uk-navbar-nav > li {
  padding: 0;
  min-width: 100px;
  margin: 0 30px;
}
.uk-navbar-nav > li > a {
  padding: 15px 35px;
  display: block;
  background-color: #fff;
  color: var(--primary-color);
  font-size: 15px;
  min-height: auto;
  font-weight: 600;
  box-shadow: 0 0 7px var(--accent2-color);
  border-radius: 7px;
  transition: 0.5s all ease-in-out;
  width: 150px;
}
.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li.uk-active > a {
  background-color: var(--primary-color);
  color: #fff;
}
.img-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 15px; /* Adjust as needed */
}
.img-gallery-container > li {
  position: relative;
  padding: 0;
  margin-top: 0;
}
.img-gal {
  width: 100%;
  padding-bottom: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
  border-radius: 6px;
  box-shadow: 0 0 10px var(--secondary-color);
}
.img-gallery-container > li:hover > img {
  filter: brightness(0.4) blur(3px);
}
.float-gallery-content {
  position: absolute;
  width: 90%;
  z-index: -1;
  background: #fff;
  padding: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}
.img-gallery-container > li:hover .float-gallery-content {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
  z-index: 9;
}
.uk-block {
  display: block;
}
.float-gallery-content .content {
  padding: 8px 15px;
}
.float-gallery-content .content > a {
  color: #212121;
  position: relative;
  bottom: -50px;
  opacity: 0;
  transition: all 0.5s;
}
.float-gallery-content .content > a:hover {
  color: #7b68ee;
}
button {
  border: 0;
  height: 60px;
  padding: 5px 15px;
  background: #7b68ee;
  font-size: 30px;
  color: #fff;
  position: relative;
  right: -100px;
  opacity: 0;
  transition: all 0.5s;
}
.highlight {
  color: #7b68ee;
  font-weight: 600;
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.5s;
}
.img-gallery-container > li:hover .highlight {
  left: 0;
  opacity: 1;
  transition-delay: 0.1s;
}
.img-gallery-container > li:hover button {
  right: 0;
  opacity: 1;
  transition-delay: 0.1s;
}
.img-gallery-container > li:hover .content > a {
  bottom: 0;
  opacity: 1;
  transition-delay: 0.1s;
}
li {
  list-style: none;
}
@media screen and (max-width: 1100px) {
  .img-gallery-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns on medium screens */
  }
}

@media screen and (max-width: 650px) {
  .img-gallery-container {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

@media screen and (max-width: 480px) {
  .img-gal {
    height: 125px;
  }
}
